#__________________________
#.gitignore SRA-QC-Analysis 
#__________________________

*.log
.vscode/
.__pychache__/
*.fasta
*.fastq
*.py[cod]
*$py.class
.env
.venv
env/
venv/
data/raw/*
data/processed/*
data/refs/*
results/*
logs/*.log
*.tmp
*.temp