#_______________________
#.gitignore QC-Analysis 
#_______________________

# Ignorando todos os diretórios de dados
1-raw_data/
2-qc_reports/
3-trimmed_data/

# Ignorando logs e afins
.DS_Store
*.log

# Ignorando cache do VS Code
.vscode/
